.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.icon {
  width: 3rem;
  display: inline-block;
  margin-right: -0.75rem;
}

.cartGroup {
  position: relative;
  display: inline-block;
  top: -0.3rem;
}

.cartIcon {
  width: 3rem;
  display: inline-block;
}

.cartCount {
  position: absolute;
  top: 0;
  background-color: rgb(158, 17, 128);
  color: white;
  border-radius: 50%;
  padding: 0.1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  min-width: 1.5rem;
}
