.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.icon {
  width: 3rem;
  display: inline-block;
  margin-right: -0.75rem;
}
